<p id="notice"><%= notice %></p>

<p>
  <strong>Meal1:</strong>
  <%= @meal.meal1 %>
</p>

<p>
  <strong>Description:</strong>
  <%= @meal.description %>
</p>

<p>
  <strong>Meal2:</strong>
  <%= @meal.meal2 %>
</p>

<p>
  <strong>Description:</strong>
  <%= @meal.description %>
</p>

<p>
  <strong>Meal3:</strong>
  <%= @meal.meal3 %>
</p>

<p>
  <strong>Description:</strong>
  <%= @meal.description %>
</p>

<p>
  <strong>Meal4:</strong>
  <%= @meal.meal4 %>
</p>

<p>
  <strong>Description:</strong>
  <%= @meal.description %>
</p>

<p>
  <strong>Meal5:</strong>
  <%= @meal.meal5 %>
</p>

<p>
  <strong>Description:</strong>
  <%= @meal.description %>
</p>

<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %>
