<%= form_with(model: plan, local: true) do |form| %>
  <% if plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Meals Per Week" %>
    <%= form.text_field :number, id: :plan_number %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :plan_price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
